/* classes */

.store-box {
  background-color: rgba(250,250,250,0.2);
  padding: 2rem; 
  border-radius: 1rem; 
  box-shadow: 0 8px 32px rgba(0,0,0,0.14);
  width: 100%;
  max-width: 40rem;
  margin: auto;
  min-height: 21.5rem;
  max-height: 21.5rem;
  align-items: center; 
  pointer-events: auto;
  z-index: 2;
  overflow-y: scroll;
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 2rem;
  backdrop-filter: blur(4px);
  scroll-behavior: smooth;
}

.store-item {
  background-color: rgba(255,255,255,0.8);
  padding: 1rem; 
  border-radius: 1rem; 
  border: rgba(230,230,230,255) 1px solid;
  width: 100%;
  height: 100%;
  min-height: 7rem;
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  max-height: 7rem;
  pointer-events: auto;
  z-index: 2;
}

.image-frame {
  background-color: rgba(255,255,255,0.8);
  border-radius: 1rem; 
  border: rgba(230,230,230,255) 1px solid;
  width: 100%;
  height: 100%;
  max-width: 10rem;
  min-height: 7rem;
  max-height: 7rem;
  pointer-events: auto;
  z-index: 2;
  overflow: hidden;
  justify-content: space-evenly;
}

.img-preview {
  display: block; 
  width: 100%;
  min-height: 7rem;
  object-fit: cover;
}

.store-item p {
  min-width: 12rem;
  max-width: 12rem;
}

.item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 12rem;
  max-width: 12rem; 
}

.item-details h3 {
  margin: 0 0 0.5rem 0;
  font-family: 'Noto Sans Thai UI', Arial, sans-serif;
  font-size: 1.25rem;
  color: rgba(27, 27, 27, 0.9);
}

.item-details p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.4;
  color: rgba(92, 92, 92, 0.8);
  font-family: 'Noto Sans Thai UI', Arial, sans-serif;
}

/* elements */

button {
  font-family: 'Noto Sans Thai UI', Arial, sans-serif;
  background-color: #ff8447;
  color: #fff;              
  font-weight: 700;         
  padding: 0.75rem 2rem;    
  border-radius: 9999px;     
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  max-height: 3rem;
  transition: background-color 0.3s ease-in-out; 
}

button:hover {
  animation: pulse-bg 0.5s ease-in-out;
}

/* animations */

@keyframes pulse-bg {
  0%, 100% {
    transform: scale(1);
  } 
  50% {
    transform: scale(1.05);
  }
}

/* media */

@media (max-width: 750px) {
  .store-box {
    width: 80%;
    max-width: 40rem;
    padding: 2rem;
    margin: 0 auto; 
  }
}

@media (max-width: 630px) {
  
  .store-box {
    gap: 4rem;
  }

  .store-item {
    flex-direction: column;
    align-items: center;
    max-height: none;
  }
  
  .item-details {
    text-align: center;
    max-width: none; 
  }
  
  .item-details h3 {
    font-size: 1.1rem;
  }
  
  .item-details p {
    font-size: 0.85rem;
  }
 
}